<div id="chat-list-container">
  {{{sidebar}}}
  <div id="chat-view">
    <div class="chat-title-container">
      {{{avatar}}}
      {{#with chat}}
        <div class="title">
          <div>{{title}}</div>
          <a class="members-count">{{members_count}} участников</a>
          <ul class="members-menu">
            <li><a>Посмотреть список участников</a></li>
            <li><a>Добавить участника</a></li>
            <li><a>Удалить участника</a></li>
            <li><a href="messengers">Выйти из чата</a></li>
          </ul>
        </div>
      {{/with}}
    </div>
    <div class="chat-message-list">
      <div class="current-data">26 февраля</div>
      <div class="message-list">
        {{#each messages}}
          {{{this}}}
        {{/each}}
      </div>
    </div>
    <div class="chat-message-form-wrapper">
      {{{form}}}
    </div>
  </div>
</div>
