<button
  type="{{#if secondary}}button{{else}}submit{{/if}}"
  {{#if secondary}}class="secondary"{{/if}}
  {{#if compact}}class="compact"{{/if}}
  {{#if disabled}}disabled{{/if}}
>
  {{#if img}}
    <img src="{{img}}" alt="{{text}}" />
  {{else}}
    {{text}}
  {{/if}}
</button>
