<form class="{{className}}">
  {{#each fields}}
    {{{this}}}
  {{/each}}
  {{#if submitButton}}
    <div class="field">
      {{{submitButton}}}
    </div>
  {{/if}}
  {{#if imgButton}}
    {{{imgButton}}}
  {{/if}}
  {{#if actions}}
    <div class="actions">
      {{#each actions}}
        {{{this}}}
      {{/each}}
    </div>
  {{/if}}
</form>
