<div id="chat-list">
  <div class="profile-link-container form">
    {{{profileLink}}}
  </div>
  {{{searchForm}}}
  {{{createForm}}}
  <div class="chat-blocks">
    {{#if chats.length}}
      {{#each chats}}
        {{{this}}}
      {{/each}}
    {{else}}
      {{#if search}}
        <span class="no-items">Чатов не найдено</span>
      {{else}}
        <span class="no-items">Чатов не создано</span>
      {{/if}}
    {{/if}}
  </div>
</div>
